@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500;1,700&family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500;1,700&family=Noto+Serif+JP:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
/* ==============================================================
# 基本設定
=========================================================== */
/* ===============================================
# ブレークポイント @includ mq('pc'), @includ mq('sp'), @includ mq('tab')
=============================================== */
/* ===============================================
# メディアクエリ
=============================================== */
/* ===============================================
# UTILITY
=============================================== */
@media print, screen and (min-width: 1024px) {
  ._sp {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}
@media print, screen and (max-width: 767px) {
  ._sp {
    display: block;
  }
}

@media print, screen and (min-width: 1024px) {
  ._sp-tab {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  ._sp-tab {
    display: block;
  }
}
@media print, screen and (max-width: 767px) {
  ._sp-tab {
    display: block;
  }
}

@media print, screen and (max-width: 767px) {
  ._pc {
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  ._pc {
    display: none;
  }
}
@media print, screen and (min-width: 1024px) {
  ._pc {
    display: block;
  }
}

@media print, screen and (min-width: 1024px) {
  ._pc-tab {
    display: block;
  }
}
@media print, screen and (min-width: 768px) {
  ._pc-tab {
    display: block;
  }
}
@media print, screen and (max-width: 767px) {
  ._pc-tab {
    display: none;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: #534741;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.45;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #534741;
}

/* ==============================================================
# inner
=========================================================== */
.inner {
  padding: 0 20px;
}
@media print, screen and (min-width: 1024px) {
  .inner {
    padding: 0;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ==============================================================
# cv_btn
=========================================================== */
.cv_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: solid 1px #AC896D;
  z-index: 999;
}
@media print, screen and (min-width: 1024px) {
  .cv_btn {
    bottom: auto;
    left: auto;
    top: 150px;
    right: 0;
    width: 130px;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn {
    width: 140px;
  }
}
.cv_btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul {
    display: block;
  }
}
.cv_btn ul li {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cv_btn ul li:not(:last-of-type) {
  border-right: solid 1px #AC896D;
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li:not(:last-of-type) {
    border-right: none;
    border-bottom: solid 1px #AC896D;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li:hover:nth-of-type(1) {
    background-color: #F9B358;
    border-top-left-radius: 20px;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li:hover:nth-of-type(2) {
    background-color: #F9B358;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li:hover:nth-of-type(3) {
    background-color: #F9B358;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li:hover:nth-of-type(4) {
    background-color: #F9B358;
    border-bottom-left-radius: 20px;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li:hover a span {
    color: #fff;
  }
}
.cv_btn ul li a {
  padding: 10px;
  display: block;
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li a {
    padding: 20px;
  }
}
.cv_btn ul li a img {
  width: auto;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li a img {
    width: 40px;
    height: auto;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li a img {
    width: 50px;
  }
}
.cv_btn ul li a span {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li a span {
    font-size: 1.3rem;
    margin-top: 10px;
  }
}
@media print, screen and (min-width: 1024px) {
  .cv_btn ul li a span {
    font-size: 1.5rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/* ==============================================================
# title
=========================================================== */
.title {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.15em;
  color: #AC896D;
  font-family: "Rubik Moonrocks", cursive;
}
@media print, screen and (min-width: 768px) {
  .title {
    font-size: 6.2rem;
  }
}
.title span {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #111;
  margin-bottom: -5px;
}
@media print, screen and (min-width: 768px) {
  .title span {
    font-size: 1.5rem;
  }
}

/* ==============================================================
# button
=========================================================== */
.button {
  margin-top: 40px;
  font-family: "Noto Sans JP", sans-serif;
}
.button span {
  font-size: 1.3rem;
  color: #F3B3C4;
  text-align: center;
  display: block;
  font-weight: 500;
  letter-spacing: 0.2em;
}
@media print, screen and (min-width: 768px) {
  .button span {
    font-size: 2rem;
  }
}
.button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F3B3C4;
  color: #fff;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media print, screen and (min-width: 768px) {
  .button a {
    width: 660px;
    height: 110px;
    font-size: 2.4rem;
  }
}
@media print, screen and (min-width: 1024px) {
  .button a:hover {
    background: #fff;
    color: #F3B3C4;
    border: solid 2px #F3B3C4;
  }
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
@media print, screen and (min-width: 768px) {
  .header {
    height: 100px;
  }
}
.header__inner {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media print, screen and (min-width: 768px) {
  .header__inner {
    padding: 0 40px;
  }
}
.header__inner h1 > a {
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}
@media print, screen and (min-width: 768px) {
  .header__inner h1 > a {
    font-size: 3.2rem;
  }
}
.header__inner .icon a img {
  width: 20px;
}
@media print, screen and (min-width: 768px) {
  .header__inner .icon a img {
    width: 40px;
  }
}

.footer {
  background: #FEFBEB;
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 70px;
}
@media print, screen and (min-width: 768px) {
  .footer {
    position: relative;
    padding-bottom: 60px;
  }
}
@media print, screen and (min-width: 1024px) {
  .footer {
    margin-bottom: 0;
  }
}
.footer__inner .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__inner .list ul .left {
  margin-top: 35px;
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul .left {
    margin-top: 0;
    width: 420px;
  }
}
.footer__inner .list ul .left h2 {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul .left h2 {
    font-size: 3.6rem;
  }
}
.footer__inner .list ul .left p {
  font-size: 1.4rem;
  margin-top: 5px;
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul .left p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 15px;
  }
}
.footer__inner .list ul .left img {
  margin-top: 25px;
}
@media print, screen and (min-width: 1024px) {
  .footer__inner .list ul .left img {
    margin-top: 40px;
  }
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul .left .copyright {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.footer__inner .list ul .left .copyright small {
  text-align: center;
  font-size: 1rem;
  display: block;
  margin-top: 15px;
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul .left .copyright small {
    font-size: 1.2rem;
  }
}
@media print, screen and (min-width: 768px) {
  .footer__inner .list ul .right {
    width: 50%;
  }
}
.footer__inner .list ul .right iframe {
  width: 100%;
  height: 300px;
}

/* ==============================================================
# fv
=========================================================== */
.fv {
  background: url(/img/fv_bg.png) no-repeat center center/cover;
  position: relative;
}
.fv::after {
  content: "";
  background: url(/img/fv_foot.png) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -1px;
  left: 0;
  z-index: 3;
}
@media print, screen and (min-width: 1024px) {
  .fv::after {
    height: 200px;
  }
}
.fv__inner {
  position: relative;
  padding-top: 144%;
}
@media print, screen and (min-width: 768px) {
  .fv__inner {
    padding-top: 55%;
  }
}
.fv__inner h2 {
  position: absolute;
  top: 100px;
  left: 5vw;
}
@media print, screen and (min-width: 1024px) {
  .fv__inner h2 {
    top: 200px;
    left: 10vw;
  }
}
.fv__inner h2 picture > img {
  width: 80vw;
}
@media print, screen and (min-width: 768px) {
  .fv__inner h2 picture > img {
    width: 55vw;
  }
}
@media print, screen and (min-width: 1024px) {
  .fv__inner h2 picture > img {
    width: 50vw;
  }
}
.fv__inner > img {
  position: absolute;
  opacity: 0.3;
}
.fv__inner > img:nth-of-type(1) {
  width: 100px;
  bottom: 20%;
  left: 30%;
  -webkit-animation: huwahuwa 6s infinite;
          animation: huwahuwa 6s infinite;
}
@media print, screen and (min-width: 768px) {
  .fv__inner > img:nth-of-type(1) {
    width: 220px;
  }
}
.fv__inner > img:nth-of-type(2) {
  width: 40px;
  bottom: 40%;
  left: 60%;
  -webkit-animation: huwahuwa 5s infinite;
          animation: huwahuwa 5s infinite;
}
@media print, screen and (min-width: 768px) {
  .fv__inner > img:nth-of-type(2) {
    width: 120px;
    left: 50%;
  }
}
.fv__inner > img:nth-of-type(3) {
  width: 140px;
  top: 0;
  left: 0;
  -webkit-animation: huwahuwa 4s infinite;
          animation: huwahuwa 4s infinite;
}
@media print, screen and (min-width: 768px) {
  .fv__inner > img:nth-of-type(3) {
    width: 280px;
    left: 10%;
  }
}
@media print, screen and (min-width: 1024px) {
  .fv__inner > img:nth-of-type(3) {
    width: 378px;
    left: 5%;
  }
}
.fv__inner .tag {
  position: absolute;
  left: 10vw;
  bottom: 60px;
  z-index: 4;
}
.fv__inner .tag > img {
  width: 40vw;
}
@media print, screen and (min-width: 768px) {
  .fv__inner .tag > img {
    width: 16vw;
  }
}

/* ==============================================================
# raised
=========================================================== */
.raised {
  background: #FEFBEB;
  padding: 40px 0;
}
.raised__inner strong {
  display: block;
  font-size: 2.2em;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "Noto Serif JP", serif;
}
@media print, screen and (min-width: 768px) {
  .raised__inner strong {
    font-size: 3.2rem;
    line-height: 1.7;
  }
}
.raised__img {
  margin-top: 30px;
}
.raised__img > img {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================================================
# appeal
=========================================================== */
.appeal {
  padding-top: 30px;
  padding-bottom: 60px;
  background: url(/img/bg.png) no-repeat top center/cover;
  position: relative;
  overflow: hidden;
}
@media print, screen and (min-width: 768px) {
  .appeal {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
.appeal__inner {
  padding: 0 35px;
}
@media print, screen and (min-width: 768px) {
  .appeal__inner .text {
    margin-bottom: 60px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media print, screen and (min-width: 768px) {
  .appeal__inner .text ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.appeal__inner .text ul .left h3 {
  font-size: 3.2rem;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
}
@media print, screen and (min-width: 768px) {
  .appeal__inner .text ul .left h3 {
    font-size: 4.1rem;
  }
}
@media print, screen and (min-width: 768px) {
  .appeal__inner .text ul .right {
    margin-left: 40px;
  }
}
@media print, screen and (min-width: 1024px) {
  .appeal__inner .text ul .right {
    margin-left: 80px;
  }
}
.appeal__inner .text ul .right p {
  line-height: 2;
  font-size: 1.4rem;
}
@media print, screen and (min-width: 768px) {
  .appeal__inner .text ul .right p {
    font-size: 1.6rem;
    line-height: 2.5;
  }
}
.appeal__inner > img {
  width: 140%;
}
@media print, screen and (min-width: 1024px) {
  .appeal__inner > img {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: calc(50% - 50vw);
  }
}
@media print, screen and (min-width: 768px) {
  .appeal__btn {
    margin-top: 100px;
  }
}

/* ==============================================================
# plan
=========================================================== */
.plan {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media print, screen and (min-width: 768px) {
  .plan {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media print, screen and (min-width: 1024px) {
  .plan__inner {
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.plan__inner h3 {
  font-size: 2rem;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 0.15em;
}
@media print, screen and (min-width: 1024px) {
  .plan__inner h3 {
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.plan__inner h3 span {
  display: block;
  font-size: 1.1rem;
}
@media print, screen and (min-width: 768px) {
  .plan__inner .list ul:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media print, screen and (min-width: 768px) {
  .plan__inner .list ul:nth-of-type(even) .left {
    margin-right: -20%;
    width: 300vw;
  }
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .list ul:nth-of-type(even) .left {
    width: 150vw;
  }
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .list ul:nth-of-type(even) .right {
    margin-right: auto;
  }
}
@media print, screen and (min-width: 768px) {
  .plan__inner .list ul:nth-of-type(odd) .left {
    margin-left: -20%;
    width: 300vw;
  }
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .list ul:nth-of-type(odd) .left {
    width: 150vw;
  }
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .list ul:nth-of-type(odd) .right {
    margin-right: auto;
  }
}
.plan__inner .list ul:nth-of-type(n+2) {
  margin-top: 50px;
}
@media print, screen and (min-width: 768px) {
  .plan__inner .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media print, screen and (min-width: 768px) {
  .plan__inner .list ul .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.plan__inner .list ul .right h4 {
  font-size: 2rem;
  letter-spacing: 0.15em;
  font-weight: 400;
  margin-top: 10px;
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .list ul .right h4 {
    font-size: 3.2rem;
  }
}
.plan__inner .list ul .right p {
  margin-top: 15px;
  font-size: 1.4rem;
  line-height: 1.7;
}
.plan__inner strong {
  display: block;
  font-size: 2rem;
  text-align: center;
  line-height: 1.75;
  letter-spacing: 0.1em;
  margin-top: 45px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
}
@media print, screen and (min-width: 1024px) {
  .plan__inner strong {
    margin-top: 240px;
    font-size: 3.4rem;
  }
}
.plan__inner .accordion {
  margin-top: 60px;
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .accordion {
    margin-top: 168px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.plan__inner .accordion h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .accordion h3 {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
}
.plan__inner .accordion .ac {
  width: 100%;
  margin: 0 auto;
}
.plan__inner .accordion .ac__parent {
  background-color: #F9B358;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 15px;
}
@media print, screen and (min-width: 768px) {
  .plan__inner .accordion .ac__parent {
    padding: 7px 30px;
    font-size: 2rem;
  }
}
@media print, screen and (min-width: 768px) {
  .plan__inner .accordion .ac__parent:nth-of-type(2) {
    margin-top: 30px;
  }
}
.plan__inner .accordion .ac__parent::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url(/img/icon_triangle.png) no-repeat center center/10px 8px #fff;
}
@media print, screen and (min-width: 1024px) {
  .plan__inner .accordion .ac__parent::after {
    width: 35px;
    height: 35px;
    background: url(/img/icon_triangle.png) no-repeat center center/15px 14px #fff;
    cursor: pointer;
  }
}
.plan__inner .accordion .ac__child {
  display: none;
  background-color: #f7f7f7;
}
.plan__inner .accordion .ac__child p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  padding: 5px 10px;
}
@media print, screen and (min-width: 768px) {
  .plan__inner .accordion .ac__child p {
    font-size: 1.6rem;
    padding: 10px 30px;
  }
}
.plan__inner .accordion .ac__child .gray {
  background: #e5e5e5;
}
@media print, screen and (min-width: 1024px) {
  .plan__btn {
    margin-top: 88px;
  }
}

/* ==============================================================
# member
=========================================================== */
.member {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #FEFBEB;
  position: relative;
  overflow-x: hidden;
}
@media print, screen and (min-width: 1024px) {
  .member {
    padding-top: 180px;
    padding-bottom: 100px;
  }
}
.member::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 30px 50vw 0 50vw;
  border-color: #fff transparent transparent transparent;
}
@media print, screen and (min-width: 1024px) {
  .member::before {
    border-width: 100px 50vw 0 50vw;
  }
}
.member__inner > strong {
  display: block;
  text-align: center;
  color: #F9B358;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 30px;
  line-height: 1.75;
  letter-spacing: 0.1em;
  font-family: "Noto Serif JP", serif;
}
@media print, screen and (min-width: 768px) {
  .member__inner > strong {
    font-size: 3rem;
    margin-top: 60px;
  }
}
.member__slider {
  margin-top: 35px;
}
@media print, screen and (min-width: 768px) {
  .member__slider {
    margin-top: 60px;
  }
}
.member__slider ul li {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
@media print, screen and (min-width: 768px) {
  .member__slider ul li {
    width: 500px;
  }
}
.member__slider ul li .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media print, screen and (min-width: 1024px) {
  .member__slider ul li .image {
    width: 300px;
    height: 300px;
  }
}
.member__slider ul li b {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}
@media print, screen and (min-width: 1024px) {
  .member__slider ul li b {
    font-size: 2rem;
  }
}
.member__slider ul li p {
  font-size: 1.4rem;
  margin-top: 5px;
}
@media print, screen and (min-width: 1024px) {
  .member__slider ul li p {
    font-size: 1.6rem;
  }
}
.member__slider ul .slick-dots {
  bottom: -50px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.member__slider ul .slick-dots li {
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.member__slider ul .slick-dots li:not(:first-of-type) {
  margin-left: 5px;
}
.member__slider ul .slick-dots li button {
  padding: 0;
  width: 30px;
}
.member__slider ul .slick-dots li button::before {
  width: 30px;
  height: 3px;
  content: "";
  background: #000;
}
.member__slider ul .slick-next {
  right: -10px;
}
.member__slider ul .slick-next::before {
  content: "";
  background: url(../img/icon_right.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.member__slider ul .slick-prev {
  left: -10px;
}
.member__slider ul .slick-prev::before {
  content: "";
  background: url(../img/icon_left.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.member .banner {
  margin-top: 80px;
}
@media print, screen and (min-width: 768px) {
  .member .banner {
    margin-top: 120px;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media print, screen and (min-width: 1024px) {
  .member .banner {
    margin-top: 100px;
    max-width: 800px;
  }
}
.member .banner a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
}
@media print, screen and (min-width: 1024px) {
  .member .banner a img:hover {
    opacity: 0.7;
  }
}

/* ==============================================================
# user
=========================================================== */
.user {
  background: url(/img/user_bg.png) no-repeat bottom 60px right -100px/400px auto #FEFBEB;
  padding-top: 60px;
  padding-bottom: 80px;
}
@media print, screen and (min-width: 1024px) {
  .user {
    background: url(/img/user_bg.png) no-repeat bottom 60px right/440px auto #FEFBEB;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media print, screen and (min-width: 1024px) {
  .user__inner {
    max-width: 850px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.user__slider ul {
  margin-top: 40px;
}
.user__slider ul .slick-prev {
  left: 3px;
  z-index: 2;
}
.user__slider ul .slick-prev::before {
  content: "";
  background: url(/img/icon_left.png) no-repeat center center/cover;
  width: 15px;
  height: 15px;
  display: block;
}
.user__slider ul .slick-next {
  right: 0;
}
.user__slider ul .slick-next::before {
  content: "";
  background: url(/img/icon_right.png) no-repeat center center/cover;
  width: 15px;
  height: 15px;
  display: block;
}
.user__slider ul li {
  background: #fff;
  padding: 40px 20px 50px;
  max-width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}
@media print, screen and (min-width: 1024px) {
  .user__slider ul li {
    max-width: 850px;
    padding: 60px 70px 70px;
  }
}
.user__slider ul li .thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.user__slider ul li > h3 {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
}
@media print, screen and (min-width: 768px) {
  .user__slider ul li > h3 {
    font-size: 1.8rem;
  }
}
.user__slider ul li > h3 span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}
@media print, screen and (min-width: 768px) {
  .user__slider ul li > h3 span {
    font-size: 1.2rem;
  }
}
.user__slider ul li > p {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 15px;
  line-height: 1.8;
}
@media print, screen and (min-width: 768px) {
  .user__slider ul li > p {
    font-size: 1.5rem;
  }
}
.user__slider ul li .star {
  margin-top: 20px;
}
.user__slider ul li .star img {
  max-width: 100px;
  margin: 0 auto;
}

/* ==============================================================
# contact
=========================================================== */
.contact {
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
}
@media print, screen and (min-width: 1024px) {
  .contact {
    padding-top: 160px;
    padding-bottom: 100px;
  }
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 30px 50vw 0 50vw;
  border-color: #FEFBEB transparent transparent transparent;
}
@media print, screen and (min-width: 1024px) {
  .contact::before {
    border-width: 100px 50vw 0 50vw;
  }
}
.contact__inner .content {
  margin-top: 40px;
}
.contact__inner .content dl .wrap {
  margin-top: 40px;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap:last-of-type {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.contact__inner .content dl .wrap dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap dt {
    width: 260px;
  }
}
@media print, screen and (min-width: 1024px) {
  .contact__inner .content dl .wrap dt {
    width: 360px;
  }
}
.contact__inner .content dl .wrap dt span {
  font-size: 1.5rem;
  font-weight: 500;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap dt span {
    font-size: 1.8rem;
  }
}
.contact__inner .content dl .wrap dt .tag {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  margin-left: 8px;
  background: rgb(234, 85, 112);
  padding: 1px 3px;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap dt .tag {
    font-size: 1.5rem;
  }
}
.contact__inner .content dl .wrap dd {
  letter-spacing: 0.15em;
  margin-top: 7px;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap dd {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.contact__inner .content dl .wrap dd input {
  border: solid 1px #ccc;
  padding: 12px;
  background: #f7f7f7;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  width: 100%;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap dd input {
    padding: 16px;
    font-size: 1.6rem;
  }
}
.contact__inner .content dl .wrap dd textarea {
  background: #f7f7f7;
  border: solid 1px #ccc;
  padding: 6px 12px;
  line-height: 1.7;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  width: 100%;
  height: 140px;
}
@media print, screen and (min-width: 768px) {
  .contact__inner .content dl .wrap dd textarea {
    padding: 16px;
    font-size: 1.6rem;
    height: 300px;
  }
}
.contact__inner #privacy strong {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 40px;
  display: block;
}
@media print, screen and (min-width: 768px) {
  .contact__inner #privacy strong {
    font-size: 1.8rem;
  }
}
.contact__inner #privacy div {
  background: #f7f7f7;
  border: solid 1px #ccc;
  padding: 6px 12px;
  line-height: 1.5;
  height: 200px;
  overflow-y: scroll;
  margin-top: 7px;
}
@media print, screen and (min-width: 768px) {
  .contact__inner #privacy div {
    margin-top: 15px;
    height: 500px;
  }
}
.contact__inner #privacy div p {
  font-size: 1.2rem;
}
@media print, screen and (min-width: 768px) {
  .contact__inner #privacy div p {
    font-size: 1.5rem;
  }
}
.contact__inner #privacy div h3 {
  font-size: 1.4rem;
}
@media print, screen and (min-width: 768px) {
  .contact__inner #privacy div h3 {
    font-size: 1.8rem;
  }
}
.contact__inner #agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-top: 15px;
}
@media print, screen and (min-width: 768px) {
  .contact__inner #agree {
    font-size: 1.8rem;
    margin-top: 25px;
  }
}
.contact__inner #form_btn {
  margin-top: 35px;
}
.contact__inner #form_btn input {
  width: 100%;
  height: 60px;
  font-size: 1.8rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  background: #f9b358;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media print, screen and (min-width: 768px) {
  .contact__inner #form_btn input {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    font-size: 2.4rem;
  }
}

@-webkit-keyframes huwahuwa {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes huwahuwa {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */